<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="static/css/style_admin.css">
</head>
<body>

    <h2>Админ Панель</h2>
    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Загрузить файл:</label>
        <input type="file" name="file" required>
        <button type="submit">Загрузить</button>
    </form>

    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% else %}
    <p class="success-message">{{ message }}</p>
    {% endif %}

    <a href="/admin">Обновить Админ Панель</a>
    <h3>Управление заказами такси</h3>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Точка отправления</th>
                <th>Точка назначения</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Москва, причал 1</td>
                <td>Москва, причал 2</td>
                <td style="color: orange;">В ожидании</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Москва, причал 3</td>
                <td>Москва, причал 4</td>
                <td style="color: green;">Завершен</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
