<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Речное Такси Москва</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1>Речное Такси Москва</h1>
            <nav>
                <a href="#">Главная</a>
                <a href="#about">О нас</a>
                <a href="#contacts">Контакты</a>
                {% if user %}
                <a href="/logout">Выйти</a>
                {% else %}
                <a href="/login">Войти</a>
                <a href="/register">Регистрация</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        {% if user %}
        <section class="hero-section">
            <h2>Быстрое и комфортное передвижение по реке Москва</h2>
            <p>Здравствуйте, {{ user }}!</p>
            <a href="/order"><button class="cta-button">Заказать такси</button></a>
            
        </section>
        {% else %}
        <section class="hero-section-login">
            <h2>Быстрое и комфортное передвижение по реке Москва</h2>
            <a href="/order"><button class="cta-button-login">Заказать такси</button></a>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </section>
        {% endif %}

        <div class="divider"></div>

        <section id="about" class="about-section">
            <div class="content">
                <h2>О нас</h2>
                <p>Речное Такси Москва — это современный транспортный сервис, который предоставляет жителям и гостям столицы возможность передвижения по реке Москва с комфортом и скоростью. 
                Наши суда оснащены современными технологиями, а маршруты охватывают ключевые районы города.</p>
                <p>Мы стремимся сделать ваши поездки не только быстрыми, но и приятными. Наслаждайтесь живописными видами реки и уникальным опытом водного транспорта.</p>
            </div>
        </section>

        <section id="contacts" class="contacts-section">
            <h2>Контакты</h2>
            <div class="contact-card">
                <img src="static/images/kirill.jpg" alt="Фото разработчика">
                <div class="info">
                    <h3>Data Analyst: Егоров Кирилл</h3>
                    <p>@KAIFblD</p>
                </div>
            </div>
            <div class="contact-card">
                <img src="static/images/default.jpg" alt="Фото разработчика">
                <div class="info">
                    <h3>Data Engineer: Ховзунов Никон</h3>
                    <p>@hhh52155</p>
                </div>
            </div>
            <div class="contact-card">
                <img src="static/images/artemV.jpg" alt="Фото разработчика">
                <div class="info-artem">
                    <h3>Backend Developer: Виноградов Артём</h3>
                    <p>@csb4hs4p</p>
                </div>
            </div>
            <div class="contact-card">
                <img src="static/images/default.jpg" alt="Фото разработчика">
                <div class="info">
                    <h3>Cap/DA/DE: Макаров Артём</h3>
                    <p>@b0bbyS</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2024 Речное Такси Москва</p>
    </footer>
</body>
</html>