<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать в сервис речного такси!</h1>

    {% if user %}
        <p>Здравствуйте, {{ user }}!</p>
        <a href="/order"><button>Заказать такси</button></a>
        <a href="/logout"><button>Выйти из аккаунта</button></a>
    {% else %}
        <a href="/login"><button>Войти</button></a>
        <a href="/register"><button>Регистрация</button></a>
    {% endif %}
</body>
</html>
